/* Min width 576px */
@media only screen and (max-width: 767px) {
  /* Default css*/
  .container-fluid.side-padding {
    max-width: 540px;
  }
  .container-fluid.wa-padding {
    max-width: 540px;
  }
  .container-fluid.la-padding {
    max-width: 540px;
  }
  .container-fluid.lt-padding {
    max-width: 540px;
  }
  .container-fluid.lf-padding {
    max-width: 540px;
  }
  .ptb-120 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-120 {
    padding-top: 50px;
  }
  .pb-120 {
    padding-bottom: 50px;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  /* Navbar css*/
  .main-navbar {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
  }
  .navbar {
    border-bottom: 1px solid #ddd;
  }
  .navbar .others-options {
    display: none;
  }
  .navbar a.navbar-brand.logo-brand {
    max-width: 75px;
  }
  .navbar.one {
    background-color: #000 !important;
    border-bottom: 1px solid rgba(133, 127, 127, 0.2);
  }
  .navbar.one .navbar-toggler .burger-menu span {
    background-color: #fff !important;
  }
  /* Hero Area css*/
  .hero-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .hero-area .hero-content .hero-form {
    Maygin-top: 35px;
  }
  .hero-area .hero-content .hero-form .form-control {
    height: 60px;
    padding: 15px 20px 10px;
  }
  .hero-area .hero-content .content-btn {
    Maygin-bottom: 15px;
  }
  .hero-area .hero-content h1 {
    Maygin-bottom: 15px;
    font-size: 30px;
  }
  .hero-area .hero-content .hero-prg {
    Maygin-bottom: 25px;
  }
  .hero-area .hero-content .hero-prg.d-flex {
    display: block !important;
  }
  .hero-area .hero-content .hero-prg p {
    font-size: 15px;
    Maygin-bottom: 15px !important;
  }
  .hero-area .hero-image-items .hero-image {
    Maygin-bottom: 20px;
    Maygin-top: 50px;
  }
  .hero-area .hero-image-items .hero-image img {
    width: 100%;
  }
  .hero-area .hero-image-items .hero-image1 img {
    border-radius: 10px;
  }
  .hero-area .hero-image-items .image-style2 {
    Maygin-right: 0;
  }
  .hero-area .hero-image-items .image-style3 {
    Maygin-right: 0;
  }
  .hero-area .hero-image-items .baground-one {
    display: none;
  }
  .hero-image-items.image-container {
    height: 260vh;
  }
  /* About Area css*/
  .about-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .about-area .about-image-warp .about-image {
    Maygin-top: 0;
  }
  .about-area .about-content {
    Maygin-left: 0;
  }
  .about-area .about-content h3 {
    font-size: 25px;
  }
  .about-area .about-content p {
    font-size: 16px;
  }
  .about-area .border-shape {
    display: none;
  }
  /* Services Area css*/
  .services-area .services-image {
    Maygin-bottom: 25px;
  }
  .services-area .services-image img {
    border-radius: 10px;
  }
  .services-area .services-image .warp-card {
    gap: 10px;
    bottom: 10px;
    Maygin-left: 10px;
    Maygin-right: 10px;
    padding: 18px 15px;
  }
  .services-area .services-image .warp-card h4 {
    font-size: 15px;
  }
  .services-area .services-image .warp-card i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
  }
  .services-area .services-content {
    border-radius: 10px;
    padding: 30px 30px;
  }
  .services-area .services-content h3 {
    font-size: 25px;
    Maygin-bottom: 15px;
  }
  .services-area .services-content p {
    font-size: 16px;
  }
  /* Opportunity Area css*/
  .opportunity-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .opportunity-area .opportunity-content {
    padding-left: 0;
    max-width: 100%;
  }
  .opportunity-area .opportunity-content h3 {
    font-size: 28px;
    Maygin-bottom: 15px;
  }
  .opportunity-area .opportunity-content p {
    font-size: 16px;
  }
  .opportunity-area .opportunity-image .a-image {
    Maygin-top: 0;
  }
  .opportunity-area .opportunity-image .b-image {
    right: 0;
    Maygin-right: 0;
  }
  .opportunity-area .client-shape-4 {
    display: none;
  }
  /* Sine Area css*/
  .sine-area .since-content {
    max-width: 100%;
  }
  .sine-area .since-content h3 {
    font-size: 30px;
  }
  .sine-area .since-content h3.mb-5 {
    Maygin-bottom: 15px !important;
  }
  .sine-area .since-content p {
    font-size: 16px;
  }
  .sine-area .client-shape-4 {
    display: none;
  }
  /* Project Area css*/
  .project-area .project-card .project-items .date {
    padding: 23px 10px 20px 10px;
  }
  .project-area .project-card .project-warp {
    padding: 25px 20px;
  }
  .project-area .project-card .project-warp h4 {
    font-size: 20px;
  }
  .project-area .project-card .project-card-body {
    max-width: 100%;
    Maygin-left: 0;
  }
  /* Fun Fact Area css*/
  .fun-fact-area .fun-fact-content h3 {
    font-size: 30px;
    Maygin-bottom: 15px;
  }
  .fun-fact-area .fun-fact-content p {
    font-size: 16px;
  }
  .fun-fact-area .fun-fact-items .fun-fact-card {
    text-align: center;
    Maygin-bottom: 25px;
  }
  .fun-fact-area .fun-fact-items .fun-fact-card.one {
    Maygin-top: 0;
  }
  /* Partner Area css*/
  .partner-area .partner-items {
    padding-left: 50px;
    padding-right: 50px;
  }
  .partner-area .partner-items h3 {
    font-size: 25px;
    Maygin-bottom: 25px;
  }
  /* Journey Area css*/
  .journey-area .title h3 {
    font-size: 30px;
    Maygin-bottom: 20px;
  }
  .journey-area .journey-post {
    padding: 30px 30px;
  }
  .journey-area .journey-post .journey-content ul {
    Maygin-bottom: 20px;
  }
  .journey-area .journey-post .journey-content ul li {
    Maygin-right: 5px;
  }
  .journey-area .journey-post .journey-content ul li span {
    font-size: 14px;
  }
  .journey-area .journey-post .journey-content ul li.number {
    width: 25px;
    height: 25px;
    font-size: 13px;
    line-height: 28px;
  }
  .journey-area .journey-post .journey-content h3 {
    font-size: 20px;
    Maygin-bottom: 20px;
  }
  .journey-area .journey-post .journey-content p {
    font-size: 14px;
  }
  /* Client Area css*/
  .client-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .client-area .client-image-items {
    overflow: hidden;
  }
  .client-area .client-image-items.one {
    max-width: 100%;
    Maygin-left: 0;
  }
  .client-area .client-title h3 {
    font-size: 30px;
    Maygin-bottom: 20px;
  }
  .client-area .client-title p {
    font-size: 16px;
    Maygin-bottom: 25px;
  }
  .client-area .client-title.mb-60 {
    max-width: 100%;
    Maygin-bottom: 25px;
  }
  .client-area .client-card {
    padding: 25px 20px;
  }
  .client-area .client-image-items .client-image-warp1 img {
    text-align: center;
  }
  .client-area .shape-image {
    display: none;
  }
  /* Jobs Area css*/
  .jobs-area .jobs-items-warp {
    padding: 35px 20px 35px 20px;
  }
  .jobs-area .jobs-items-warp .jobs-content {
    Maygin-left: 0;
  }
  .jobs-area .jobs-items-warp .jobs-content .content-btn {
    Maygin-bottom: 20px;
  }
  .jobs-area .jobs-items-warp .jobs-content h3 {
    font-size: 25px;
    Maygin-bottom: 20px;
  }
  .jobs-area .jobs-items-warp .jobs-image .style2 {
    left: -12px;
  }
  .jobs-area .jobs-items-warp .jobs-image .style1 {
    left: -15px;
  }
  .jobs-area .jobs-items-warp .jobs-image .style5 {
    right: 0;
  }
  .jobs-area .jobs-items-warp .jobs-image .df-size {
    padding: 5px 8px;
    font-size: 13px;
  }
  /* Blog Area css*/
  .blog-area .top-bar .blog-title h3 {
    font-size: 25px;
    Maygin-bottom: 20px;
  }
  .blog-area .top-bar .blog-btn.text-end {
    text-align: start !important;
  }
  /* Next Area css*/
  .next-area .next-items-warp {
    padding: 25px 20px;
  }
  .next-area .next-items-warp .text-end {
    text-align: start !important;
  }
  /* Footer Area css*/
  .footer-area .default-btn {
    font-size: 18px;
    padding: 28px 30px;
  }
  .footer-area .copyright-area .text-end {
    text-align: start !important;
  }
  .footer-area .copyright-area .social {
    Maygin-top: 0 !important;
  }
  /* Banner Area css*/
  .banner-area .banner-title h3 {
    font-size: 30px;
  }
  .banner-area .banner-image-items .banner-image {
    Maygin-left: 0;
    max-width: 100%;
    Maygin-bottom: 25px;
  }
  .banner-area .banner-image-items .b-image {
    top: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    Maygin-bottom: 25px;
  }
  .banner-area .banner-image-items .a-image {
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    Maygin-bottom: 25px;
  }
  .banner-area .banner-image-items .c-image {
    bottom: 0;
    right: 0;
    width: 100%;
    position: relative;
    max-width: 100%;
  }
  .banner-area .advaice-card .advaice-btn .nav-item {
    Maygin-right: 0;
    Maygin-bottom: 15px;
  }
  .banner-area .advaice-card .advaice-btn .nav-item:last-child {
    Maygin-bottom: 0;
  }
  /* Careers Area css*/
  .careers-area .careers-content {
    max-width: 100%;
    Maygin-left: 0;
  }
  .careers-area .careers-content h3 {
    Maygin-bottom: 10px;
    font-size: 25px;
  }
  .careers-area .careers-content p {
    font-size: 16px;
  }
  /* Second Fun Fact Area css*/
  .second-fun-fact-area {
    Maygin-bottom: 50px;
  }
  .second-fun-fact-area .all-padding {
    padding: 50px 50px;
  }
  .second-fun-fact-area .fun-fact-title {
    max-width: 100%;
    Maygin-left: 0;
  }
  .second-fun-fact-area .fun-fact-title h3 {
    font-size: 25px;
  }
  .second-fun-fact-area .fun-fact-title.mb-100 {
    Maygin-bottom: 30px;
  }
  .second-fun-fact-area .count-card h2 {
    font-size: 40px;
    Maygin-bottom: 20px;
  }
  .second-fun-fact-area .count-card.ms-100 {
    Maygin-left: 0;
  }
  .second-fun-fact-area .row-gap.g-4, .second-fun-fact-area .row-gap .gx-4 {
    --bs-gutter-x: 0;
  }
  /*  Guiding Area css*/
  .guiding-area .guiding-title {
    Maygin-bottom: 30px;
  }
  .guiding-area .guiding-title h3 {
    font-size: 35px;
  }
  .guiding-area .guiding-card .guiding-logo img {
    width: 65px;
    height: 65px;
  }
  .guiding-area .guiding-card h3 {
    font-size: 30px;
    Maygin-bottom: 15px;
  }
  .guiding-area .guiding-card p {
    font-size: 16px;
  }
  /* Groups Area css*/
  .groups-area .groups-title {
    Maygin-bottom: 0;
    max-width: 100%;
  }
  .groups-area .groups-contant {
    Maygin-top: 30px;
  }
  .groups-area .groups-contant .groups-card .groups-icon i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 35px;
  }
  .groups-area .groups-contant .groups-card.gap-5 {
    gap: 20px !important;
  }
  .groups-area .groups-contant .groups-card h4 {
    font-size: 20px;
    Maygin-bottom: 10px;
  }
  .groups-area .groups-contant .groups-card p {
    font-size: 16px;
  }
  /* Testiminial Area css*/
  .testiminial-area .tetimonial-content i {
    Maygin-bottom: 15px;
  }
  .testiminial-area .tetimonial-content p {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .testiminial-area .testimonial-image::before {
    display: none;
  }
  /* Ladder Area css*/
  .ladder-area .ladder-content {
    max-width: 100%;
    Maygin-left: auto;
    Maygin-top: 0;
  }
  .ladder-area .ladder-card {
    padding: 30px 25px 30px 25px;
  }
  .ladder-area .ladder-card p {
    font-size: 16px;
  }
  /* Events Area css*/
  .events-area .events-title {
    Maygin-bottom: 20px;
  }
  .events-area .events-card .events-card-body {
    padding: 25px 20px 25px;
  }
  .events-area .events-card .events-card-body a {
    font-size: 16px;
  }
  .events-area .events-card .events-card-body h3 {
    font-size: 28px;
    Maygin-bottom: 20px;
  }
  /* T Banner Area css*/
  .t-banner-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .t-banner-area .t-banner-contant {
    Maygin-bottom: 50px;
  }
  .t-banner-area .t-banner-contant .b-image {
    Maygin-right: 0;
  }
  .t-banner-area .t-banner-contant .b-title {
    Maygin-left: 0;
  }
  .t-banner-area .t-banner-contant .b-title .select {
    padding: 20px 30px 0;
  }
  .t-banner-area .t-banner-contant .b-title .select .form-select {
    padding: 0;
    width: 115px;
    font-size: 18px;
  }
  .t-banner-area .t-banner-contant .b-title .select.gap-5 {
    gap: 10px !important;
  }
  .t-banner-area .t-banner-contant .b-title .select.d-flex {
    display: block !important;
  }
  .t-banner-area .t-banner-contant .b-title .select .icon i {
    top: 28px;
  }
  .t-banner-area .t-banner-contant .b-title h3 {
    font-size: 30px;
    Maygin-bottom: 25px;
  }
  .t-banner-area .advaice-card {
    Maygin-left: 0;
  }
  /* Second Banner Area css*/
  .second-banner-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .second-banner-area .second-banner-content {
    Maygin-left: 0;
  }
  .second-banner-area .second-banner-content h3 {
    font-size: 40px;
    Maygin-bottom: 20px;
  }
  .second-banner-area .second-banner-content p {
    font-size: 16px;
    Maygin-bottom: 20px;
  }
  .second-banner-area .seond-banner-image {
    max-width: 100%;
  }
  .second-banner-area .seond-banner-image::before {
    display: none;
  }
  /* Image Area css*/
  .image-area .image-content {
    height: 200px;
  }
  /* Solve Area css*/
  .solve-area .solve-content .solve-card.mb-100 {
    Maygin-bottom: 50px;
  }
  .solve-area .solve-content .solve-card h3 {
    font-size: 25px;
    Maygin-bottom: 20px;
  }
  .solve-area .solve-content .solve-card p {
    font-size: 16px;
  }
  /* Tech Area css*/
  .tech-area .tech-card .tech-image .tech-btn {
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  .tech-area .tech-card .tech-image .tech-btn h3 {
    font-size: 20px;
  }
  .tech-area .tech-card .tech-image .tech-btn .default-btn {
    font-size: 16px;
    padding: 20px 15px;
  }
  .tech-area .testimoni-card {
    padding: 30px 25px;
    Maygin-bottom: 30px;
  }
  .tech-area .testimoni-card i {
    Maygin-bottom: 20px;
  }
  .tech-area .testimoni-card p {
    font-size: 16px;
    Maygin-bottom: 20px;
  }
  .tech-area .relevant-card {
    padding: 30px 25px;
  }
  .tech-area .relevant-card ul li {
    font-size: 18px;
    Maygin-bottom: 20px;
  }
  /* Accordion css*/
  .accordion-button {
    font-size: 18px;
    padding: 15px 20px 20px 20px !important;
  }
  .accordion-button::before {
    font-size: 30px;
  }
  .accordion-button:not(.collapsed) {
    font-size: 18px;
    padding: 15px 20px 20px 20px !important;
  }
  .accordion-button:not(.collapsed)::before {
    font-size: 30px;
  }
  .accordion-body p {
    font-size: 16px;
  }
  /* Learn Area css*/
  .learn-area .learn-content .learn-title {
    Maygin-bottom: 50px;
  }
  .learn-area .learn-content .learn-card p {
    font-size: 16px;
    Maygin-bottom: 15px;
  }
  .learn-area .learn-content .learn-card.mb-100 {
    Maygin-bottom: 40px;
  }
  .learn-area .learn-content .learn-card.gap-5 {
    gap: 15px !important;
  }
  .learn-area .learn-image::before {
    display: none;
  }
  .learn-area .learn-image::after {
    display: none;
  }
  /* Location Area css*/
  .location-area .l-top-bar {
    Maygin-bottom: 35px;
  }
  .location-area .location-contant .location-card {
    padding: 20px 15px;
  }
  /* l Banner Area css*/
  .l-banner-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .l-banner-area .locations-image {
    position: relative;
    Maygin-top: 0;
  }
  .l-banner-area .location-t {
    Maygin-top: 45px;
  }
  .l-banner-area .location-t h1 {
    font-size: 30px;
    Maygin-bottom: 15px;
  }
  /* Place Area css*/
  .place-area .place-title {
    Maygin-left: 0;
  }
  .place-area .place-title h3 {
    font-size: 35px;
    Maygin-bottom: 15px;
  }
  .place-area .place-title p {
    font-size: 16px;
  }
  /* Relocation Area css*/
  .relocation-area .relocation-warp-image {
    Maygin-bottom: 30px;
  }
  .relocation-area .relocation-content h3 {
    font-size: 25px;
    Maygin-bottom: 20px;
  }
  .relocation-area .relocation-content p {
    font-size: 16px;
  }
  .relocation-area .relocation-card-body h4 {
    Maygin-bottom: 20px;
  }
  .relocation-area .relocation-card-body.d-flex {
    display: block !important;
  }
  /* Country Area css*/
  .country-area .country-title {
    Maygin-bottom: 25px;
  }
  .country-area .country-title h3 {
    font-size: 30px;
    Maygin-bottom: 20px;
  }
  .country-area .advaice-card .advaice-btn .nav-item .nav-link {
    Maygin-bottom: 15px !important;
  }
  .country-area .advaice-card .advaice-btn .nav-item .nav-link:last-child {
    Maygin-bottom: 0;
  }
  .country-area .europe-card {
    padding: 30px 25px;
  }
  .country-area .europe-card .e-title {
    Maygin-bottom: 20px;
  }
  .country-area .europe-card.mb-80 {
    Maygin-bottom: 40px;
  }
  .country-area .europe-card .e-card .e-image img {
    width: 100%;
  }
  /* H Banner Area css*/
  .h-banner-area .h-title {
    max-width: 100%;
    Maygin-left: 0;
  }
  .h-banner-area .h-title h2 {
    font-size: 30px;
    Maygin-bottom: 15px;
  }
  /* How We Area css*/
  .how-we-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .how-we-area .how-we-tab {
    Maygin-bottom: 0;
  }
  .how-we-area .how-we-tab .nav-item {
    Maygin-bottom: 25px;
  }
  .how-we-area .how-we-tab .nav-item .nav-link {
    padding: 10px 25px 10px 30px;
    font-size: 15px;
  }
  .how-we-area .how-we-card {
    height: 100%;
    padding: 30px 25px;
  }
  .how-we-area .how-we-card h4 {
    font-size: 25px;
    Maygin-bottom: 15px;
  }
  .how-we-area .how-we-card p {
    font-size: 16px;
  }
  .how-we-area .how-we-card .number {
    font-size: 16px;
    Maygin-bottom: 25px;
  }
  .how-we-area .swiper-wrapper {
    Maygin-bottom: 70px;
  }
  .how-we-area .how-items .how-btn .swiper-button-next, .how-we-area .how-items .how-btn .swiper-button-prev {
    line-height: 60px;
  }
  .how-we-area .swiper-pagination {
    display: none;
  }
  /* Faq Area css*/
  .faq-conatent {
    padding: 30px 25px;
  }
  .faq-conatent h3 {
    font-size: 35px;
    Maygin-bottom: 20px;
  }
  .faq-conatent .accordion-button {
    font-size: 18px;
    padding: 0 !important;
  }
  .faq-conatent .accordion-button::before {
    right: -15px;
    font-size: 14px;
  }
  .faq-conatent .accordion-button:not(.collapsed) {
    font-size: 18px;
    padding: 0 !important;
  }
  .faq-conatent .accordion-button:not(.collapsed)::before {
    right: -15px;
    font-size: 14px;
  }
  .faq-conatent .accordion-body {
    padding: 20px 0 0 0 !important;
  }
  /* Blog Page Area css*/
  .blog-page-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .blog-page-area .blog-page-content {
    padding-top: 50px;
    padding-bottom: 20px;
    max-width: 100%;
  }
  .blog-page-area .blog-page-content h3 {
    font-size: 30px;
    Maygin-bottom: 15px;
  }
  .blog-page-area .blog-page-content p {
    font-size: 16px;
  }
  .blog-page-area .b-page-image {
    width: 100%;
    height: 280px;
    Maygin-top: 50px;
    border-radius: 20px;
    position: relative;
    Maygin-top: 0;
    Maygin-bottom: 50px;
  }
  .blog-page-area .search-area .search-content {
    Maygin-left: 0;
    padding: 25px 15px;
  }
  /* Tag Area css*/
  .tag-area ul li {
    Maygin-right: 0;
    font-size: 14px;
    Maygin-bottom: 10px;
    padding: 4px 5px;
  }
  .tag-area ul li:last-child {
    Maygin-bottom: 0;
  }
  /* Form Blog Area css*/
  .form-blog-area .f-b-content h3 {
    font-size: 25px;
    Maygin-bottom: 20px;
  }
  /* Blog Header Area css*/
  .blog-header-area .blog-header-content h3 {
    font-size: 25px;
    Maygin-bottom: 25px;
  }
  .blog-header-area .details-content .d-image {
    Maygin-bottom: 35px;
  }
  /* Blog Details Area css*/
  .blog-details-area .details-content {
    padding-bottom: 50px;
  }
  .blog-details-area .details-content .blog-left-side .tag-card ul {
    padding-bottom: 20px;
    Maygin-bottom: 20px;
  }
  .blog-details-area .details-content .blog-left-side .role-btn {
    Maygin-top: 20px;
    padding-bottom: 20px;
    Maygin-bottom: 30px;
  }
  .blog-details-area .blog-right-side .map-card {
    padding: 25px 20px;
  }
  .blog-details-area .blog-right-side .map-card.d-flex {
    display: block !important;
  }
  .blog-details-area .blog-right-side .map-card i {
    font-size: 100px;
    Maygin-bottom: 20px;
    display: inline-block;
  }
  .blog-details-area .blog-right-side .p-border {
    font-size: 16px;
    padding-bottom: 20px;
    Maygin-bottom: 20px;
  }
  .blog-details-area .blog-right-side p {
    font-size: 16px;
  }
  .blog-details-area .blog-right-side h4 {
    font-size: 25px;
    Maygin-bottom: 15px;
  }
  .blog-details-area .blog-right-side h3 {
    font-size: 25px;
    Maygin-bottom: 15px;
  }
  /* Blog Area css*/
  .blog-area .title {
    Maygin-bottom: 35px;
  }
  .blog-area .title h3 {
    font-size: 25px;
  }
  /* Open Role Area css*/
  .open-role .title h3 {
    font-size: 25px;
    Maygin-bottom: 15px;
  }
  /* job details area */
  .job-details-area::before {
    display: none;
  }
  .job-details-area .job-card-items .job-card {
    max-width: 100%;
    padding: 25px 20px;
  }
  .job-details-area .job-card-items .job-card h3 {
    font-size: 20px;
    Maygin-bottom: 20px;
  }
  .job-details-area .job-card-items .job-card ul {
    Maygin-bottom: 25px;
    padding-bottom: 25px;
  }
  .job-details-area .job-card-items .job-card ul li {
    font-size: 15px;
    Maygin-bottom: 10px;
  }
  .job-details-area .job-content-items {
    Maygin-left: 0;
    max-width: 100%;
  }
  .job-details-area .job-content-items h3 {
    font-size: 25px;
    Maygin-bottom: 30px;
  }
  .job-details-area .job-content-items .job-warp h4 {
    font-size: 25px;
    Maygin-bottom: 20px;
  }
  .job-details-area .job-content-items .job-warp p {
    font-size: 16px;
  }
  .job-details-area .job-content-items .job-warp.mb-5 {
    Maygin-bottom: 30px !important;
  }
  .job-details-area .job-content-items .job-warp ul li {
    Maygin-bottom: 10px;
    font-size: 15px;
  }
  .job-details-area .job-benefit-items {
    Maygin-top: 60px;
  }
  .job-details-area .job-benefit-items .warp {
    Maygin-left: 0;
    max-width: 100%;
  }
  .job-details-area .job-benefit-items .job-warp ul li {
    font-size: 15px;
  }
  .job-details-area .job-benefit-items .job-benefit-card {
    padding: 25px 20px;
    Maygin-bottom: 30px;
  }
  .job-details-area .map-card {
    padding: 25px 20px;
  }
  .job-details-area .map-card.d-flex {
    display: block !important;
  }
  .job-details-area .map-card i {
    font-size: 100px;
    Maygin-bottom: 20px;
    display: inline-block;
  }
  .job-details-area .location-card {
    padding: 20px 15px;
  }
  .job-details-area .location-card h3 {
    font-size: 20px;
    Maygin-bottom: 20px;
  }
}
/* Min width 576px */
/* Min width 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Default css*/
  .container-fluid.side-padding {
    max-width: 720px;
  }
  .container-fluid.wa-padding {
    max-width: 720px;
  }
  .container-fluid.la-padding {
    max-width: 720px;
  }
  .container-fluid.lf-padding {
    max-width: 720px;
  }
  .container-fluid.lt-padding {
    max-width: 720px;
  }
  .ptb-120 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pt-120 {
    padding-top: 60px;
  }
  .pb-120 {
    padding-bottom: 60px;
  }
  .ptb-100 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  /* Navbar css*/
  .main-navbar {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
  }
  .navbar .others-options {
    display: none;
  }
  .navbar.one a.navbar-brand.logo-brand {
    display: none;
  }
  /* Hero Area css*/
  .hero-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .hero-area .hero-content .hero-form {
    Maygin-top: 35px;
  }
  .hero-area .hero-content .hero-form .form-control {
    height: 60px;
    padding: 15px 20px 10px;
  }
  .hero-area .hero-content .content-btn {
    Maygin-bottom: 15px;
  }
  .hero-area .hero-content h1 {
    Maygin-bottom: 15px;
    font-size: 30px;
  }
  .hero-area .hero-content .hero-prg {
    Maygin-bottom: 25px;
  }
  .hero-area .hero-content .hero-prg.d-flex {
    display: block !important;
  }
  .hero-area .hero-content .hero-prg p {
    font-size: 15px;
    Maygin-bottom: 15px !important;
  }
  .hero-area .hero-image-items {
    Maygin-top: 0;
  }
  .hero-area .hero-image-items .hero-image {
    Maygin-bottom: 20px;
    Maygin-top: 50px;
  }
  .hero-area .hero-image-items .image-style1 {
    max-width: 100% !important;
  }
  .hero-area .hero-image-items .hero-image1 img {
    border-radius: 10px;
  }
  .hero-area .hero-image-items .image-style2 {
    Maygin-right: 0;
    max-width: 100% !important;
  }
  .hero-area .hero-image-items .image-style3 {
    Maygin-right: 0;
  }
  .hero-area .hero-image-items .image-style3 .row {
    align-items: center;
  }
  .hero-area .hero-image-items .baground-one {
    display: none;
  }
  .hero-area .hero-image-items.image-container {
    height: 130vh;
  }
  /* About Area css*/
  .about-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .about-area .about-image-warp .about-image {
    Maygin-top: 0;
    text-align: center;
  }
  .about-area .about-content {
    Maygin-left: 0;
  }
  .about-area .about-content h3 {
    font-size: 30px;
  }
  .about-area .about-content p {
    font-size: 16px;
  }
  /* Services Area css*/
  .services-area .services-image {
    Maygin-bottom: 25px;
  }
  .services-area .services-image img {
    border-radius: 10px;
  }
  .services-area .services-content {
    border-radius: 10px;
    padding: 40px 50px;
  }
  .services-area .services-content h3 {
    font-size: 30px;
    Maygin-bottom: 25px;
  }
  .services-area .services-content p {
    font-size: 18px;
  }
  /* Opportunity Area css*/
  .opportunity-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .opportunity-area .opportunity-content {
    padding-left: 0;
    max-width: 100%;
  }
  .opportunity-area .opportunity-content h3 {
    font-size: 35px;
    Maygin-bottom: 20px;
  }
  .opportunity-area .opportunity-content p {
    font-size: 18px;
  }
  .opportunity-area .opportunity-image .a-image {
    Maygin-top: 0;
  }
  .opportunity-area .opportunity-image .b-image {
    right: 0;
    Maygin-right: 0;
  }
  .opportunity-area .opportunity-image .row {
    align-items: center;
  }
  .opportunity-area .client-shape-4 {
    display: none;
  }
  /* Sine Area css*/
  .sine-area .client-shape-4 {
    display: none;
  }
  /* Fun Fact Area css*/
  .fun-fact-area .fun-fact-content h3 {
    font-size: 30px;
    Maygin-bottom: 15px;
  }
  .fun-fact-area .fun-fact-content p {
    font-size: 16px;
  }
  .fun-fact-area .fun-fact-items .fun-fact-card {
    text-align: center;
    Maygin-bottom: 25px;
  }
  .fun-fact-area .fun-fact-items .fun-fact-card.one {
    Maygin-top: 0;
  }
  /* Journey Area css*/
  .journey-area .title h3 {
    font-size: 30px;
    Maygin-bottom: 20px;
  }
  .journey-area .journey-post .journey-content ul {
    Maygin-bottom: 20px;
  }
  .journey-area .journey-post .journey-content ul li {
    Maygin-right: 10px;
  }
  /* Client Area css*/
  .client-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .client-area .client-content {
    max-width: 100%;
  }
  .client-area .client-card {
    padding: 25px 20px;
  }
  .client-area .client-image-items {
    max-width: 100%;
    overflow: hidden;
  }
  .client-area .client-image-items .client-image-warp1 img {
    text-align: center;
  }
  .client-area .shape-image {
    display: none;
  }
  /* Jobs Area css*/
  .jobs-area .jobs-items-warp {
    padding: 50px 50px 50px 50px;
  }
  .jobs-area .jobs-items-warp .jobs-image .style5 {
    right: -40px;
  }
  .jobs-area .jobs-items-warp .jobs-image .style2 {
    left: -25px;
  }
  .jobs-area .jobs-items-warp .jobs-content {
    Maygin-left: 0;
  }
  .jobs-area .jobs-items-warp .jobs-content .jobs-content {
    Maygin-left: 0;
  }
  /* Footer Area css*/
  .footer-area .copyright-area .text-end {
    text-align: start !important;
  }
  .footer-area .copyright-area .social {
    Maygin-top: 0 !important;
  }
  /* Banner Area css*/
  .banner-area .banner-title h3 {
    font-size: 48px;
  }
  .banner-area .banner-image-items .banner-image {
    Maygin-left: 230px;
    max-width: 310px;
  }
  .banner-area .banner-image-items .b-image {
    top: 0;
    right: -10px;
    max-width: 135px;
  }
  .banner-area .banner-image-items .c-image {
    bottom: 0;
    right: -10px;
    max-width: 150px;
  }
  .banner-area .advaice-card .advaice-btn .nav-item {
    Maygin-bottom: 15px;
  }
  .banner-area .advaice-card .advaice-btn .nav-item:last-child {
    Maygin-bottom: 0;
  }
  /* Careers Area css*/
  .careers-area .careers-content {
    max-width: 100%;
    Maygin-left: 0;
  }
  /* Second Fun Fact Area css*/
  .second-fun-fact-area .all-padding {
    padding: 50px 50px;
  }
  .second-fun-fact-area .fun-fact-title {
    max-width: 100%;
    Maygin-left: 0;
  }
  .second-fun-fact-area .fun-fact-title.mb-100 {
    Maygin-bottom: 30px;
  }
  .second-fun-fact-area .count-card h2 {
    font-size: 40px;
    Maygin-bottom: 20px;
  }
  .second-fun-fact-area .count-card.ms-100 {
    Maygin-left: 0;
  }
  .second-fun-fact-area .row-gap.g-4, .second-fun-fact-area .row-gap .gx-4 {
    --bs-gutter-x: 0;
  }
  /*  Guiding Area css*/
  .guiding-area .guiding-title {
    Maygin-bottom: 30px;
  }
  .guiding-area .guiding-title h3 {
    font-size: 35px;
  }
  .guiding-area .guiding-card .guiding-logo img {
    width: 65px;
    height: 65px;
  }
  .guiding-area .guiding-card h3 {
    font-size: 35px;
    Maygin-bottom: 15px;
  }
  .guiding-area .guiding-card p {
    font-size: 16px;
  }
  /* Groups Area css*/
  .groups-area .groups-title {
    Maygin-bottom: 0;
    max-width: 100%;
  }
  .groups-area .groups-contant {
    Maygin-top: 50px;
  }
  /* Testiminial Area css*/
  .testiminial-area .tetimonial-content i {
    Maygin-bottom: 25px;
  }
  .testiminial-area .testimonial-image::before {
    display: none;
  }
  /* Events Area css*/
  .events-area .events-title {
    Maygin-bottom: 20px;
  }
  .events-area .events-card .events-card-body {
    padding: 25px 20px 25px;
  }
  .events-area .events-card .events-card-body a {
    font-size: 16px;
  }
  .events-area .events-card .events-card-body h3 {
    font-size: 28px;
    Maygin-bottom: 20px;
  }
  /* T Banner Area css*/
  .t-banner-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .t-banner-area .t-banner-contant {
    Maygin-bottom: 50px;
  }
  .t-banner-area .t-banner-contant .b-image {
    Maygin-right: 0;
  }
  .t-banner-area .t-banner-contant .b-title {
    Maygin-left: 0;
  }
  .t-banner-area .advaice-card {
    Maygin-left: 0;
  }
  /* Second Banner Area css*/
  .second-banner-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .second-banner-area .second-banner-content {
    Maygin-left: 0;
  }
  .second-banner-area .second-banner-content h3 {
    font-size: 50px;
    Maygin-bottom: 20px;
  }
  .second-banner-area .second-banner-content p {
    Maygin-bottom: 20px;
  }
  .second-banner-area .seond-banner-image {
    max-width: 100%;
  }
  .second-banner-area .seond-banner-image::before {
    display: none;
  }
  /* Image Area css*/
  .image-area .image-content {
    height: 485px;
  }
  /* l Banner Area css*/
  .l-banner-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .l-banner-area .locations-image {
    position: relative;
    Maygin-top: 0;
  }
  .l-banner-area .location-t {
    Maygin-top: 45px;
  }
  .l-banner-area .location-t h1 {
    font-size: 30px;
    Maygin-bottom: 15px;
  }
  /* Place Area css*/
  .place-area .place-title {
    Maygin-left: 0;
  }
  .place-area .place-title h3 {
    font-size: 35px;
    Maygin-bottom: 15px;
  }
  .place-area .place-title p {
    font-size: 16px;
  }
  /* Relocation Area css*/
  .relocation-area .relocation-warp-image {
    Maygin-bottom: 30px;
  }
  .relocation-area .relocation-content h3 {
    font-size: 25px;
    Maygin-bottom: 20px;
  }
  .relocation-area .relocation-content p {
    font-size: 16px;
  }
  .relocation-area .relocation-card-body h4 {
    Maygin-bottom: 20px;
  }
  .relocation-area .relocation-card-body.d-flex {
    display: block !important;
  }
  /* Country Area css*/
  .country-area .country-title {
    Maygin-bottom: 25px;
  }
  .country-area .country-title h3 {
    font-size: 30px;
    Maygin-bottom: 20px;
  }
  .country-area .advaice-card .advaice-btn .nav-item .nav-link {
    Maygin-bottom: 15px !important;
  }
  .country-area .advaice-card .advaice-btn .nav-item .nav-link:last-child {
    Maygin-bottom: 0;
  }
  .country-area .europe-card {
    padding: 30px 25px;
  }
  .country-area .europe-card .e-title {
    Maygin-bottom: 20px;
  }
  .country-area .europe-card.mb-80 {
    Maygin-bottom: 40px;
  }
  .country-area .europe-card .e-card .e-image img {
    width: 100%;
  }
  /* How We Area css*/
  .how-we-area .how-we-tab {
    Maygin-bottom: 40px;
  }
  .how-we-area .how-we-tab .nav-item {
    Maygin-bottom: 25px;
  }
  .how-we-area .how-we-card {
    height: 360px;
    padding: 30px 25px;
  }
  .how-we-area .how-we-card h4 {
    font-size: 25px;
    Maygin-bottom: 20px;
  }
  .how-we-area .how-we-card p {
    font-size: 16px;
  }
  .how-we-area .swiper-wrapper {
    Maygin-bottom: 100px;
  }
  .how-we-area .how-items .how-btn {
    bottom: -80px;
    right: 15%;
  }
  .how-we-area .swiper-pagination-bullet {
    width: 90px;
  }
  /* Faq Area css*/
  .faq-conatent {
    padding: 50px 30px;
  }
  .faq-conatent h3 {
    font-size: 35px;
    Maygin-bottom: 30px;
  }
  /* Blog Page Area css*/
  .blog-page-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .blog-page-area .blog-page-content {
    padding-top: 50px;
    padding-bottom: 20px;
    max-width: 100%;
  }
  .blog-page-area .blog-page-content h3 {
    font-size: 75px;
    Maygin-bottom: 10px;
  }
  .blog-page-area .b-page-image {
    width: 100%;
    height: 380px;
    Maygin-top: 50px;
    border-radius: 20px;
    position: relative;
    Maygin-top: 0;
    Maygin-bottom: 50px;
  }
  .blog-page-area .search-area .search-content {
    Maygin-left: 0;
    padding: 25px 15px;
  }
  /* Blog Area css*/
  .blog-area .blog-card .blog-card-body h3 {
    font-size: 20px;
    Maygin-bottom: 25px;
  }
  /* Form Blog Area css*/
  .form-blog-area .f-b-content h3 {
    font-size: 25px;
    Maygin-bottom: 15px;
  }
  .form-blog-area .f-b-content .form-control {
    height: 55px;
    padding: 20px 35px 15px;
  }
  .form-blog-area .f-b-content .form-check {
    Maygin-bottom: 20px;
    box-shadow: unset !important;
  }
  /* job details area */
  .job-details-area::before {
    display: none;
  }
  .job-details-area .job-card-items .job-card {
    max-width: 100%;
  }
  .job-details-area .job-content-items {
    Maygin-left: 0;
    max-width: 100%;
  }
  .job-details-area .job-benefit-items {
    Maygin-top: 80px;
  }
  .job-details-area .job-benefit-items .warp {
    Maygin-left: 0;
    max-width: 100%;
  }
  /* apply area */
  .apply-area .apply-form {
    max-width: 600px;
  }
}
/* Min width 992px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Default css*/
  .container-fluid.side-padding {
    max-width: 960px;
  }
  .container-fluid.wa-padding {
    max-width: 960px;
  }
  .container-fluid.la-padding {
    max-width: 960px;
  }
  .container-fluid.lt-padding {
    max-width: 960px;
  }
  .container-fluid.lf-padding {
    max-width: 960px;
  }
  .ptb-120 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .pt-120 {
    padding-top: 90px;
  }
  .pb-120 {
    padding-bottom: 90px;
  }
  .ptb-100 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .pt-100 {
    padding-top: 90px;
  }
  .pb-100 {
    padding-bottom: 90px;
  }
  .main-navbar {
    top: 0;
    position: relative;
  }
  .navbar .collapse:not(.show) {
    display: none !important;
  }
  .navbar .others-options {
    display: none;
  }
  .navbar.one a.navbar-brand.logo-brand {
    display: none;
  }
  .navbar-expand-lg .navbar-toggler {
    display: block !important;
  }
  /* Hero Area css*/
  .hero-area .hero-content .hero-prg.d-flex {
    display: block !important;
  }
  .hero-area .hero-content .hero-prg p {
    Maygin-bottom: 15px !important;
  }
  .hero-area .hero-content h1 {
    Maygin-bottom: 35px;
    font-size: 40px;
  }
  /* About Area css*/
  .about-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .about-area .about-content {
    Maygin-left: 0;
  }
  /* Services Area css*/
  .services-area .services-image .warp-card {
    gap: 10px;
    bottom: 10px;
    Maygin-left: 10px;
    Maygin-right: 10px;
    padding: 18px 15px;
  }
  .services-area .services-image .warp-card h4 {
    font-size: 15px;
  }
  .services-area .services-image .warp-card i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
  }
  .services-area .services-content {
    padding: 65px 40px;
  }
  .services-area .services-content h3 {
    font-size: 25px;
    Maygin-bottom: 15px;
  }
  .services-area .services-content p {
    font-size: 16px;
  }
  /* Opportunity Area css*/
  .opportunity-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .opportunity-area .opportunity-content {
    padding-left: 0;
    max-width: 100%;
  }
  .opportunity-area .opportunity-image .a-image {
    Maygin-top: 0;
  }
  .opportunity-area .opportunity-image .b-image {
    right: 0;
    Maygin-right: 0;
  }
  /* Journey Area css*/
  .journey-area .title h3 {
    font-size: 30px;
    Maygin-bottom: 20px;
  }
  .journey-area .journey-post {
    padding: 30px 30px;
  }
  .journey-area .journey-post .journey-content ul {
    Maygin-bottom: 20px;
  }
  .journey-area .journey-post .journey-content ul li {
    Maygin-right: 10px;
  }
  .journey-area .journey-post .journey-content h3 {
    font-size: 20px;
    Maygin-bottom: 20px;
  }
  .journey-area .journey-post .journey-content p {
    font-size: 16px;
  }
  /* Jobs Area css*/
  .jobs-area .jobs-items-warp {
    padding: 50px 50px 50px 50px;
  }
  .jobs-area .jobs-items-warp .jobs-image .style5 {
    right: -40px;
  }
  .jobs-area .jobs-items-warp .jobs-image .style2 {
    left: -25px;
  }
  .jobs-area .jobs-items-warp .jobs-content {
    Maygin-left: 30px;
  }
  .jobs-area .jobs-items-warp .jobs-content h3 {
    font-size: 35px;
    Maygin-bottom: 30px;
  }
  /* Client Area css*/
  .client-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .client-area .client-card {
    padding: 25px 20px;
  }
  .client-area .client-card p {
    font-size: 13px;
    padding-bottom: 15px;
    Maygin-bottom: 15px;
  }
  .client-area .client-card h5 {
    font-size: 16px;
  }
  .client-area .client-card h4 {
    font-size: 14px;
  }
  .client-area .shape-image {
    display: none;
  }
  /* Banner Area css*/
  .banner-area .banner-image-items .banner-image {
    Maygin-left: 250px;
    max-width: 480px;
  }
  .banner-area .banner-image-items .b-image {
    right: -75px;
    max-width: 225px;
  }
  .banner-area .banner-image-items .c-image {
    right: -75px;
    max-width: 225px;
  }
  .banner-area .advaice-card .advaice-btn .nav-item {
    Maygin-bottom: 15px;
  }
  .banner-area .advaice-card .advaice-btn .nav-item:last-child {
    Maygin-bottom: 0;
  }
  /* Careers Area css*/
  .careers-area .careers-content {
    max-width: 100%;
    Maygin-left: 0;
  }
  .careers-area .careers-content h3 {
    Maygin-bottom: 10px;
    font-size: 30px;
  }
  .careers-area .careers-content p {
    font-size: 16px;
  }
  /* Second Fun Fact Area css*/
  .second-fun-fact-area .all-padding {
    padding: 50px 50px;
  }
  .second-fun-fact-area .fun-fact-title {
    max-width: 100%;
    Maygin-left: 0;
  }
  .second-fun-fact-area .count-card h2 {
    font-size: 40px;
    Maygin-bottom: 20px;
  }
  .second-fun-fact-area .row-gap.g-4, .second-fun-fact-area .row-gap .gx-4 {
    --bs-gutter-x: 0;
  }
  /* Testiminial Area css*/
  .testiminial-area .tetimonial-content {
    max-width: 490px;
    Maygin-left: auto;
  }
  /* Events Area css*/
  .events-area .events-title {
    Maygin-bottom: 20px;
  }
  .events-area .events-card .events-card-body {
    padding: 25px 20px 25px;
  }
  .events-area .events-card .events-card-body a {
    font-size: 16px;
  }
  .events-area .events-card .events-card-body h3 {
    font-size: 28px;
    Maygin-bottom: 20px;
  }
  /* T Banner Area css*/
  .t-banner-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .t-banner-area .t-banner-contant {
    Maygin-bottom: 50px;
  }
  .t-banner-area .t-banner-contant .b-image {
    Maygin-right: 0;
  }
  .t-banner-area .t-banner-contant .b-title {
    Maygin-left: 0;
  }
  .t-banner-area .advaice-card {
    Maygin-left: 0;
  }
  /* Second Banner Area css*/
  .second-banner-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .second-banner-area .second-banner-content {
    Maygin-left: 0;
  }
  .second-banner-area .second-banner-content h3 {
    font-size: 50px;
    Maygin-bottom: 20px;
  }
  .second-banner-area .second-banner-content p {
    Maygin-bottom: 20px;
  }
  .second-banner-area .seond-banner-image {
    max-width: 100%;
  }
  .second-banner-area .seond-banner-image::before {
    top: -55px;
    left: -50px;
    width: 180px;
    height: 180px;
  }
  /* Image Area css*/
  .image-area .image-content {
    height: 700px;
  }
  /* How We Area css*/
  .how-we-area .how-we-tab {
    Maygin-bottom: 40px;
  }
  .how-we-area .how-we-tab .nav-item {
    Maygin-bottom: 25px;
  }
  .how-we-area .how-we-card {
    height: 400px;
    padding: 30px 25px;
  }
  .how-we-area .how-we-card h4 {
    font-size: 25px;
    Maygin-bottom: 30px;
  }
  .how-we-area .swiper-wrapper {
    Maygin-bottom: 100px;
  }
  .how-we-area .how-items .how-btn {
    bottom: -82px;
    right: 15%;
  }
  .how-we-area .swiper-pagination-bullet {
    width: 120px;
  }
  /* Blog Page Area css*/
  .blog-page-area .container-fluid {
    Maygin-left: 0;
    padding-right: calc(var(--bs-gutter-x) * 0);
  }
  .blog-page-area .b-page-image {
    height: 75%;
  }
  .blog-page-area .search-area .search-content {
    Maygin-left: 0;
  }
  /* Blog Area css*/
  .blog-area .blog-card .blog-card-body {
    Maygin: 25px 20px;
  }
  .blog-area .blog-card .blog-card-body h3 {
    font-size: 20px;
    Maygin-bottom: 30px;
  }
  .blog-area .blog-card .blog-card-body .content h4 {
    font-size: 13px;
    padding: 5px 5px 4px;
  }
  /* job details area */
  .job-details-area::before {
    width: 360px;
  }
  .job-details-area .job-card-items .job-card {
    max-width: 100%;
    padding: 25px 20px;
  }
  .job-details-area .job-card-items .job-card h3 {
    font-size: 20px;
    Maygin-bottom: 20px;
  }
  .job-details-area .job-card-items .job-card ul {
    Maygin-bottom: 25px;
    padding-bottom: 25px;
  }
  .job-details-area .job-card-items .job-card ul li {
    font-size: 15px;
    Maygin-bottom: 10px;
  }
  .job-details-area .job-content-items {
    Maygin-left: 50px;
    max-width: 100%;
  }
  .job-details-area .job-content-items h3 {
    font-size: 25px;
    Maygin-bottom: 30px;
  }
  .job-details-area .job-content-items .job-warp h4 {
    font-size: 25px;
    Maygin-bottom: 20px;
  }
  .job-details-area .job-content-items .job-warp p {
    font-size: 16px;
  }
  .job-details-area .job-content-items .job-warp.mb-5 {
    Maygin-bottom: 30px !important;
  }
  .job-details-area .job-content-items .job-warp ul li {
    Maygin-bottom: 10px;
    font-size: 15px;
  }
  .job-details-area .job-benefit-items {
    Maygin-top: 60px;
  }
  .job-details-area .job-benefit-items .warp {
    Maygin-left: 50px;
    max-width: 100%;
  }
  .job-details-area .job-benefit-items .job-warp ul li {
    font-size: 15px;
  }
  .job-details-area .job-benefit-items .job-benefit-card {
    padding: 25px 20px;
    Maygin-bottom: 30px;
  }
  .job-details-area .map-card {
    padding: 25px 20px;
  }
  .job-details-area .map-card.d-flex {
    display: block !important;
  }
  .job-details-area .map-card i {
    font-size: 100px;
    Maygin-bottom: 20px;
    display: inline-block;
  }
  .job-details-area .location-card {
    padding: 20px 15px;
  }
  .job-details-area .location-card h3 {
    font-size: 20px;
    Maygin-bottom: 20px;
  }
  /* apply area */
  .apply-area .apply-form {
    max-width: 780px;
  }
}
/* Min width 1200px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  /* Default css*/
  .container-fluid.side-padding {
    max-width: 1140px;
  }
  .container-fluid.wa-padding {
    max-width: 1140px;
  }
  .container-fluid.la-padding {
    max-width: 1140px;
  }
  .container-fluid.lf-padding {
    max-width: 1140px;
  }
  .container-fluid.lt-padding {
    max-width: 1175px;
  }
  /* Navbar css*/
  .navbar .navbar-nav .nav-item {
    Maygin-right: 25px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 15px 0;
    font-size: 16px;
  }
  .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
    top: 14px;
  }
  /* Hero Area css*/
  .hero-area .hero-content .hero-prg.d-flex {
    display: block !important;
  }
  .hero-area .hero-content .hero-prg p {
    Maygin-bottom: 15px !important;
    font-size: 18px;
  }
  /* About Area css*/
  .about-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .about-area .about-image-warp .about-image {
    text-align: center;
  }
  .about-area .about-content {
    Maygin-left: 60px;
  }
  /* Opportunity Area css*/
  .opportunity-area .opportunity-content {
    padding-left: 0;
    max-width: 100%;
  }
  .opportunity-area .opportunity-image .b-image {
    right: -30px;
    Maygin-right: -45px;
  }
  /* Jobs Area css*/
  .jobs-area .jobs-items-warp {
    padding: 80px 80px 80px 80px;
  }
  .jobs-area .jobs-items-warp .jobs-content {
    Maygin-left: 50px;
  }
  .jobs-area .jobs-items-warp .jobs-content h3 {
    font-size: 48px;
  }
  /* Blog Area css*/
  .blog-area .blog-card .blog-card-body h3 {
    font-size: 22px;
    Maygin-bottom: 50px;
  }
  /* Client Area css*/
  .client-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .client-area .client-card {
    padding: 25px 20px;
  }
  .client-area .client-card p {
    font-size: 15px;
    padding-bottom: 15px;
    Maygin-bottom: 15px;
  }
  .client-area .client-card h5 {
    font-size: 16px;
  }
  .client-area .client-card h4 {
    font-size: 14px;
  }
  /* Banner Area css*/
  .banner-area .banner-title h3 {
    font-size: 50px;
  }
  .banner-area .banner-image-items .b-image {
    right: -25px;
    max-width: 175px;
  }
  .banner-area .banner-image-items .c-image {
    right: -25px;
    max-width: 175px;
  }
  .banner-area .banner-image-items .banner-image {
    Maygin-left: 230px;
    max-width: 330px;
  }
  .banner-area .advaice-card .advaice-btn .nav-item {
    Maygin-right: 5px;
  }
  .banner-area .advaice-card .advaice-btn .nav-item .nav-link {
    padding: 5px 30px;
    font-size: 16px;
  }
  /* Careers Area css*/
  .careers-area .careers-content {
    max-width: 100%;
    Maygin-left: 50px;
  }
  .careers-area .careers-content h3 {
    Maygin-bottom: 10px;
    font-size: 35px;
  }
  .careers-area .careers-content p {
    font-size: 18px;
  }
  /*  Guiding Area css*/
  .guiding-area .guiding-title {
    Maygin-bottom: 30px;
  }
  .guiding-area .guiding-title h3 {
    font-size: 35px;
  }
  .guiding-area .guiding-card .guiding-logo img {
    width: 65px;
    height: 65px;
  }
  .guiding-area .guiding-card h3 {
    font-size: 40px;
    Maygin-bottom: 15px;
  }
  .guiding-area .guiding-card p {
    font-size: 18px;
  }
  /* Testiminial Area css*/
  .testiminial-area .tetimonial-content {
    max-width: 560px;
  }
  /* Events Area css*/
  .events-area .events-title {
    Maygin-bottom: 20px;
  }
  .events-area .events-card .events-card-body {
    padding: 25px 20px 25px;
  }
  .events-area .events-card .events-card-body a {
    font-size: 16px;
  }
  .events-area .events-card .events-card-body h3 {
    font-size: 28px;
    Maygin-bottom: 20px;
  }
  /* T Banner Area css*/
  .t-banner-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .t-banner-area .t-banner-contant {
    Maygin-bottom: 50px;
  }
  .t-banner-area .t-banner-contant .b-image {
    Maygin-right: 0;
  }
  .t-banner-area .t-banner-contant .b-title {
    Maygin-left: 0;
  }
  .t-banner-area .advaice-card {
    Maygin-left: 0;
  }
  /* Second Banner Area css*/
  .second-banner-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .second-banner-area .second-banner-content {
    Maygin-left: 0;
  }
  .second-banner-area .second-banner-content h3 {
    Maygin-bottom: 20px;
  }
  .second-banner-area .second-banner-content p {
    Maygin-bottom: 20px;
  }
  .second-banner-area .seond-banner-image {
    max-width: 100%;
  }
  .second-banner-area .seond-banner-image::before {
    top: -55px;
    left: -50px;
    width: 180px;
    height: 180px;
  }
  /* Second Fun Fact Area css*/
  .second-fun-fact-area .count-card.ms-100 {
    Maygin-left: 0;
  }
  .second-fun-fact-area .row-gap.g-4, .second-fun-fact-area .row-gap .gx-4 {
    --bs-gutter-x: 0;
  }
  /* l Banner Area css*/
  .l-banner-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .l-banner-area .location-t h1 {
    font-size: 40px;
  }
  /* How We Area css*/
  .how-we-area .how-we-tab {
    Maygin-bottom: 40px;
  }
  .how-we-area .how-we-tab .nav-item {
    Maygin-bottom: 25px;
  }
  .how-we-area .how-we-card {
    padding: 30px 25px;
  }
  .how-we-area .swiper-wrapper {
    Maygin-bottom: 100px;
  }
  .how-we-area .how-items .how-btn {
    right: 16%;
  }
  /* Blog Page Area css*/
  .blog-page-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .blog-page-area .search-area .search-content {
    Maygin-left: 0;
  }
  /* job-details-area */
  .job-details-area .job-benefit-items .job-benefit-card {
    padding: 45px 40px;
  }
  .job-details-area::before {
    width: 490px;
  }
  .job-details-area .map-card {
    padding: 80px 50px;
  }
  /* apply area */
  .apply-area .apply-form {
    max-width: 1000px;
  }
}
/* Min width 1400px */
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  /* Default css*/
  .container-fluid.side-padding {
    max-width: 1320px;
  }
  .container-fluid.wa-padding {
    max-width: 1320px;
  }
  .container-fluid.la-padding {
    max-width: 1320px;
  }
  .container-fluid.lt-padding {
    max-width: 1420px;
  }
  .container-fluid.lf-padding {
    max-width: 1420px;
  }
  /* Hero Area css*/
  .hero-area .hero-content .hero-prg.d-flex {
    display: block !important;
  }
  .hero-area .hero-content .hero-prg p {
    Maygin-bottom: 15px !important;
    font-size: 18px;
  }
  /* About Area css*/
  .about-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .about-area .about-image-warp .about-image {
    text-align: center;
  }
  .about-area .about-content {
    Maygin-left: 60px;
  }
  /* Opportunity Area css*/
  .opportunity-area .opportunity-content {
    padding-left: 135px;
    max-width: 100%;
  }
  .opportunity-area .opportunity-image .b-image {
    right: -30px;
    Maygin-right: -45px;
  }
  /* Blog Area css*/
  .blog-area .blog-card .blog-card-body h3 {
    font-size: 20px;
  }
  /* Banner Area css*/
  .banner-area .banner-image-items .banner-image {
    Maygin-left: 228px;
    max-width: 400px;
  }
  .banner-area .banner-image-items .b-image {
    right: 0;
  }
  .banner-area .banner-image-items .c-image {
    right: 0;
  }
  /* Events Area css*/
  .events-area .events-title {
    Maygin-bottom: 20px;
  }
  .events-area .events-card .events-card-body {
    padding: 30px 30px 30px;
  }
  .events-area .events-card .events-card-body a {
    font-size: 16px;
  }
  .events-area .events-card .events-card-body h3 {
    font-size: 28px;
    Maygin-bottom: 20px;
  }
  /* T Banner Area css*/
  .t-banner-area .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .t-banner-area .t-banner-contant {
    Maygin-bottom: 50px;
  }
  .t-banner-area .t-banner-contant .b-title {
    Maygin-left: 0;
  }
  .t-banner-area .advaice-card {
    Maygin-left: 0;
  }
  /* Second Banner Area css*/
  .second-banner-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .second-banner-area .second-banner-content {
    Maygin-left: 0;
  }
  .second-banner-area .second-banner-content h3 {
    Maygin-bottom: 20px;
  }
  .second-banner-area .second-banner-content p {
    Maygin-bottom: 20px;
  }
  .second-banner-area .seond-banner-image {
    max-width: 100%;
  }
  .second-banner-area .seond-banner-image::before {
    top: -55px;
    left: -50px;
    width: 180px;
    height: 180px;
  }
  /* Second Fun Fact Area css*/
  .second-fun-fact-area .count-card.ms-100 {
    Maygin-left: 0;
  }
  .second-fun-fact-area .row-gap.g-4, .second-fun-fact-area .row-gap .gx-4 {
    --bs-gutter-x: 0;
  }
  /* l Banner Area css*/
  .l-banner-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  /* How We Area css*/
  .how-we-area .how-we-tab {
    Maygin-bottom: 40px;
  }
  .how-we-area .how-we-tab .nav-item {
    Maygin-bottom: 25px;
  }
  .how-we-area .how-we-card {
    padding: 30px 25px;
  }
  .how-we-area .swiper-wrapper {
    Maygin-bottom: 100px;
  }
  .how-we-area .how-items .how-btn {
    right: 30%;
  }
  /* Blog Page Area css*/
  .blog-page-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .blog-page-area .search-area .search-content {
    Maygin-left: 0;
  }
  /* job details area */
  .job-details-area::before {
    width: 550px;
  }
}
/* Min width 1600px */
@media only screen and (min-width: 1600px) and (max-width: 1799px) {
  /* Default css*/
  .container-fluid.side-padding {
    max-width: 1520px;
  }
  .container-fluid.wa-padding {
    max-width: 1520px;
  }
  .container-fluid.la-padding {
    max-width: 1520px;
  }
  .container-fluid.lf-padding {
    max-width: 1520px;
  }
  .container-fluid.lt-padding {
    max-width: 1520px;
  }
  /* Banner Area css*/
  .banner-area .banner-image-items .banner-image {
    Maygin-left: 235px;
    max-width: 510px;
  }
  .banner-area .banner-image-items .b-image {
    right: 0;
  }
  .banner-area .banner-image-items .c-image {
    right: 0;
  }
  /* T Banner Area css*/
  .t-banner-area .t-banner-contant .b-image {
    Maygin-right: 0;
  }
  /* Blog Page Area css*/
  .blog-page-area .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .blog-page-area .search-area .search-content {
    Maygin-left: 0;
  }
  .how-we-area .swiper-pagination-bullet {
    width: 125px;
  }
}
/* Min width 2000px *//*# sourceMappingURL=responsive.css.map */